section.contact {
    color : #2c3e50;
}

.line {
    width: 20%;
    height: 3px;
}


.fa-star {
    margin-top: 10px;
}

.form-control {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: gainsboro !important;
}

button.btn {
    background-color: #1abc9c;
    font-weight: 500;
}

button.btn:hover {
    background-color:  #095c3b ;
    color: whitesmoke !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #1abc7c;
    background-color: #1abc7c !important;
    border-color: #1abc7c !important;
}